/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		VARIABLES


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

/* --------------------- 
  Color Default Names
--------------------- */

$blue:#00B6C7;
$gray:#6F6F6F;
$purple:#840394;
$red:#FF5959;

$twitter-blue:#00aced;
$facebook-blue:#3B5998;
$instagram-pink:#cd486b;


 /* --------------------- 
  Color Semantic Names
--------------------- */

$color-body-primary: $blue;

// Text
$color-body-text:$gray;
$color-body-heading:$color-body-primary;

// Links
$color-body-link: $purple;
$color-body-link-hover:$purple;
$color-button: $blue;

// Borders
$border:$gray;

// Solid BGs
$bg-primary:$color-body-primary;


 /* --------------------- 
  Typography Semantic Names
--------------------- */

$type-body: Helvetica, Arial, sans-serif;
$type-heading: Georgia, serif;


 /* --------------------- 
  Container Max Widths
--------------------- */

$container-width:1100px;
$container-width-md:880px;
$container-width-sm:638px;


 /* --------------------- 
  Site Forms
--------------------- */

$form-color-input:$color-body-text;
$form-color-label:$color-body-text;
$form-color-form-error:$red;
$form-color-select-arrow:$color-body-primary;
$form-type:$type-body;
$form-border:$color-body-text;
$form-background:white;