/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Page Layout


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

html, body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @include media-safari() {
  	display: block;
  }
  @include media-ie-11() {
  display: block;
  }
}

.site-document {
  flex-grow: 1;
}

.site-header, .site-document, .site-footer {
  flex-shrink: 0;
}

// Mobile Data Table
.table-wrapper {
  @include table-mobile-collapse(white, $color-body-primary);
}

// Containers
.container {
  @include container-defaults($container-width);
}

.container-sm {
  @include container-defaults($container-width-md);
}

.container-md {
  @include container-defaults($container-width-sm);
}