/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		BASE MEDIA QUERIES


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

$breakpoints: (
	'mobile'			: 480px,
	'tablet'			: 768px,
	'desktop-sm'	: 1024px,
	'desktop-md'	: 1200px,
	'desktop-lg'	: 1440px,
	'desktop-xlg'	: 1600px
);


/* --------------------------------------- 
  Default Mixins (Mobile First Approach)
--------------------------------------- */

@mixin media($breakpoint) {

	$value: map-get($breakpoints, $breakpoint);

	@if $value != null {
		@media (min-width: $value) {
			@content;
		}
	}

	@else {
		@warn "Unfortunately, no value could be retrieved from '#{$breakpoint}'."
			+ "Please make sure it is defined in '$breakpoints' map";
	}
}


/* --------------------------------------- 
  Maximum Width Mixins (Use in extreme 
  circumstances ONLY)
--------------------------------------- */

@mixin media-max($breakpoint) {

	$value: map-get($breakpoints, $breakpoint);

	@if $value != null {
		@media (max-width: ($value - 1)) {
			@content;
		}
	}

	@else {
		@warn "Unfortunately, no value could be retrieved from '#{$breakpoint}'."
			+ "Please make sure it is defined in '$breakpoints' map";
	}
}


 /* --------------------------------------- 
  Small Desktop Height
--------------------------------------- */
@mixin media-height() {
	@media only screen and (min-width: 768px) and (max-height: 730px) {
    @content;
  }
}

@mixin media-height-lg() {
	@media only screen and (min-width: 768px) and (max-height: 830px) {
    @content;
  }
}


 /* --------------------------------------- 
  iPad width ONLY (Use in extreme 
  circumstances ONLY)
--------------------------------------- */
@mixin media-ipad() {
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}


 /* --------------------------------------- 
  IE Browsers
--------------------------------------- */

@mixin media-ie-11() {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
    @content;
  }
}

@mixin media-ie-edge() {
	@supports (-ms-ime-align:auto) {
    @content;
  }
}


 /* --------------------------------------- 
  Old Safari Browsers (7.1 & 8)
--------------------------------------- */
@mixin media-safari() {
	_::-webkit-full-page-media, _:future, :root {
    @content;
  }
}
