/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		BASE LAYOUT


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 


/* --------------------------------------- 
  Containers
--------------------------------------- */
@mixin container-defaults($width) {
  padding-left:20px;
  padding-right:20px;
  max-width:$width;
  @include media(tablet) {
    margin-left:auto;
    margin-right:auto;
  }
  @include media(desktop-md) {
    padding-left:0;
    padding-right:0;
  }
}

/* --------------------------------------- 
  Vertical Centering
--------------------------------------- */
@mixin centerX() {
  position: relative;
  left: 50%;
  transform:translateX(-50%);
}

@mixin centerY() {
  position: relative;
  top: 50%;
  transform:translateY(-50%);
}

@mixin centerXY() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

@mixin centerflex() {
  display: flex;
  flex-direction:column;
  justify-content:center;
}


/* --------------------------------------- 
  Image Object-Fit (place on image directly)
--------------------------------------- */
.object-fit {
  display: block;
  width:200px;
  height:200px;
  object-fit:cover;
}


/* --------------------------------------- 
  Hamburger Animation
--------------------------------------- */
@mixin toggle-nav-defaults($width, $height, $line-middle, $line-bottom, $toggle-nav-line-color) {
  position: relative;
  width:$width;
  height:$height;
  padding:0;
  margin:0;
  background:transparent;
  border:none;
  transform:rotate(0deg);
  transition: .5s ease-in-out;

  .line {
    position: absolute;
    left:0;
    display: block;
    width:100%;
    height:1px;
    opacity:1;
    transform:rotate(0deg);
    transition:.25s ease-in-out;
    background:$toggle-nav-line-color;

    &:first-of-type {
      top:0;
    }

    &:nth-of-type(2), &:nth-of-type(3) {
      top:$line-middle;
    }

    &:nth-of-type(4) {
      top:$line-bottom;
    }
  }

  &.open-nav {
    .line {

      &:first-of-type {
        top:$line-middle;
        left:50%;
        width:0%;
      }

      &:nth-of-type(2) {
        transform:rotate(45deg);
      }

      &:nth-of-type(3) {
        transform:rotate(-45deg);
      }

      &:nth-of-type(4) {
        top:$line-middle;
        left:50%;
        width:0%;
      }
    }
  }
}


 /* --------------------------------------- 
  Clearfix
--------------------------------------- */
@mixin clearfix() {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

 /* --------------------------------------- 
  Flexbox Margins
--------------------------------------- */
@mixin flex-margins() {
  width:calc(50% - 30px); // Add left and right margins to decide this width
  margin:0 15px;
}


/* --------------------------------------- 
  Collapses Tables on browser widths 
  smaller than 480px
--------------------------------------- */
@mixin table-mobile-collapse($collapse-btn-color, $collapse-btn-bg) {
  .collapse-table {
    display:none;
  }
  table {
    @include media-max(mobile) {
      position:relative;
      &:before {
        content:'Tap to open table';
        position:absolute;
        z-index:2;
        @include centerXY();
        width:100%;
        color:white;
        font-weight:700;
        text-transform: uppercase;
        text-align:center;
        cursor:pointer;
      }
      &:after {
        content:"";
        position:absolute;
        z-index: 1;
        left:0;
        right:0;
        top:0;
        bottom:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,.8);
        cursor:pointer;
      }
      
      th, td {
        height:7px;
        font-size:0;
      }
    } 
  }

  &.mobile-table-open {
    @include media-max(mobile) {
      .collapse-table {
        display:block;
        width:70%;
        text-align:center;
        text-transform:uppercase;
        font-weight: 700;
        color:$collapse-btn-color;
        padding:10px 15px;
        margin:0 auto;
        background:$collapse-btn-bg;
        cursor:pointer;
      }

      table {
        margin-top:0;
        &:before, &:after {
          display:none;
        }

        th,td {
          height:auto;
          font-size:inherit;
        }
      }
    }
  }
}


/* --------------------------------------- 
  Default Layout Class Names
--------------------------------------- */

// Screen Readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


// Responsive Videos
.video-container {
  position:relative;
  height:0;
  padding:0 0 56.25% 0;
  margin:0 0 20px 0;
  overflow:hidden;

  iframe, object, embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

// Default Data Table 
table {
  width:100%;
  margin:30px 0;
  border:1px solid black;  

  th, td {
    text-align:center;
    padding:15px;
    border:1px solid black;
  }

  caption, tfoot {
    padding:15px;
  }
}