/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Project Buttons


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

.button-defaults {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	margin:0;
}

.button, #{$all-button-inputs} { 
	@extend .button-defaults;
}