/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		GENERIC CONTENT


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 


// Text Links

a {
	color:$color-body-link;
	text-decoration: none;
	transition:all 0.15s ease-out;

	&:hover {
		
	}
}

// Headings

h1 {
	// FILL OUT!
}

h2 {
	// FILL OUT!
}

h3 {
	// FILL OUT!
}

h4 {
	// FILL OUT!
}

h5 {
	// FILL OUT!
}

h6 {
	// FILL OUT!
}


// Paragraph/Lists

p {
	color:$color-body-text;
	margin:0 0 15px 0;
	@include media(tablet) {
		margin:0 0 20px 0;
	}
}

ul {
	li {
		color:$color-body-text;
	}
}

ol {
	li {
		color:$color-body-text;
	}
}

hr {
	height:1px;
	margin:5px 0;
	background:$color-body-primary;
}

blockquote {
	// FILL OUT!
}