/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Project Forms


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

// Text Inputs
#{$all-text-inputs} {
	font-family:$form-type;
	line-height: 1;
	color:$form-color-input;
	border:1px solid $form-border;
	@include placeholder {
    color:$form-color-input;
  }
}

// Select Wrapper
.select-wrapper {
	position: relative;
	font-family:$form-type;
	line-height: 1;
	color:$form-color-input;
	border:1px solid $form-border;
	height:46px;
	@include media(tablet) {
		height:57px;
	}

	&:after {
		content:"";
	  display:block;
	  position: absolute;
	  top:20px;
	  right:20px;
	  border-right:2px solid $form-color-select-arrow;
	  border-bottom:2px solid $form-color-select-arrow;
	  width:6px; 
	  height:6px;
	  transform: rotate(45deg);
	  transition:all 0.25s ease;
	}

	select {
		height:35px;
		@include media(tablet) {
			height:55px;
		}
	}
}

// Formidable Forms
.frm_forms {
	#{$all-text-inputs} {
		padding:15px 20px;
	}

	.frm_error_style {
	  display: block;
	  color:white;
	  padding:20px;
	  text-align: center;
	  font-weight: 700;
	  margin-bottom:20px;
	  background:$form-color-form-error;
	}

	.frm_error {
	  color:$form-color-form-error;
	  font-weight: 700;
	}
}